@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

:root {
    --text-color: black;
    --primary-color: #d3d2e9;
    --secondary-color: white;
}

html.dark {
    --text-color: white;
    --primary-color: steelblue;
    --secondary-color: rgba(0, 0, 0, 0.4);
}
html.dark {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.toggle {
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

body {
    color: var(--text-color);
    font-family: "Muli", sans-serif;
    background-color: var(--primary-color);
}
.participants-container {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 20px;
}
form {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.custom-radio {
    font-weight: normal;
}
.required.form-label:after {
    content: "*";
    color: red;
}

#page-container {
    /* padding-bottom: 2rem; */
    position: relative;
    min-height: 100vh;
}

/* 2 rem top + 4 rem bot */
#content-wrap {
    margin-top: 2rem;
    padding-bottom: 6rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.footer-content p {
    margin: 0 10px;
}

/* medium sized width */
@media (max-width: 767px) {
    .btn-block {
        width: 100%;
    }
    #content-wrap {
        padding-bottom: 8rem;
    }
    .footer {
        height: 6rem;
    }
    .participants-container {
        width: 90%;
    }
}

/* passcode input box */
.passcode-input-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingParticipants {
    margin: auto;
}

.table-cell-image img {
    width: 50px;
    height: 50px;
}
